.container {
    position: fixed; top: 0; left: 0; right: 0;
    z-index: 1;
    max-width: 100%;
    min-height: 90px;
    padding: 5px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}