:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-text: #636363;
  --color-bg: #053df7;
  --color-hover: #0f309b;
}

*, *::before, *::after {
  box-sizing: border-box;
} 

* {
  font-family: "Source Sans 3", sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {

  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  font-weight: 500;
}

li{ 
  list-style: none;
}