.fieldLogo {
    a {
        display: flex;
        align-items: center;

        span {
            background-color: transparent;
            font-size: clamp(1rem, 2vw, 2rem);
            font-weight: 800;
            letter-spacing: 1px;
            transition: color 0.4s ;
            color: var(--color-text);
            white-space: nowrap;
        }

        span:hover {
            color: #053df7;
        }
    }
}

.fieldLogo a .fieldImgLogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #053df7;
    margin-right: 15px;

    img {
        width: 100%;
    }
}